/* 
  dark-style.css -
  A dark style sheet for Apropos.  This replaces darktheme.css and any
  styles defined in JavaFX code.
  This is the contents of the old darktheme.css:
Button {
    fill: BLACK;
    focusFill: DARKGRAY;
    borderFill: BLACK;
    textFill: WHITE;
    shadowFill: BLACK;
}

ToggleButton {
    fill: BLACK;
    focusFill: DARKGRAY;
    borderFill: BLACK;
    textFill: WHITE;
    shadowFill: BLACK;
    fontSize: 14pt;
}
  TODO: Make this conform more closely to the former Apropos style represented
  above, and by the ToggleButton-related snippet below (removed from
  AproposUI.fx)

  def darkTBStyle = "-fx-color: BLACK;"
      "-fx-background: black;"
      "-fx-focus-color: white;"
      "fontSize: 14pt;";

  This style sheet was substituted because if conforms to JavaFX 1.3 CSS
*/

.scene {
  /* The default font for all content, it in inherited by all nodes */
  /*-fx-font: 14pt "Amble-Condensed";*/
  -fx-toggle-button-focus-color: white;

/*
  -fx-accent: #114fd9;
  -fx-base: #3f3f3f;
  -fx-background: #040404;
  -fx-control-inner-background: white;
  -fx-focus-color: #31BAED;
  -fx-dark-text-color: black;
  -fx-mid-text-color: #292929;
  -fx-light-text-color: white;
  -fx-color: -fx-base;
  -fx-hover-base: ladder -fx-base stops (20%,derive(-fx-base,20%)) (35%,derive(-fx-base,30%)) (50%,derive(-fx-base,40%));
  -fx-pressed-base: derive(-fx-base,-20%);
  -fx-box-border: #000000;
  -fx-text-box-border: ladder -fx-background stops (0.1,black) (0.3,derive(-fx-background,-15%));
  -fx-shadow-highlight-color:#3B3B3B;
  -fx-outer-border: #000000;
  -fx-inner-border: linear (0%, 0%) to (0%, 100%) stops (0%, #7A7A7A) (100%, #525252);
  -fx-body-color: linear (0%, 0%) to (0%, 100%) stops (0%, #7A7A7A) (100%, #3F3F3F);
  -fx-text-base-color: #EFEFEF;
  -fx-text-background-color: ladder -fx-background stops (30%,-fx-light-text-color) (31%,-fx-dark-text-color) (59%,-fx-dark-text-color) (60%,-fx-mid-text-color);
  -fx-text-inner-color: ladder -fx-control-inner-background stops (30%,-fx-light-text-color) (31%,-fx-dark-text-color) (59%,-fx-dark-text-color) (60%,-fx-mid-text-color);
  -fx-mark-color: -fx-text-base-color;
  -fx-mark-highlight-color: black;//ladder -fx-color stops (0.6,derive(-fx-color,80%)) (0.7,white);
  -fx-selection-bar: linear (0%,0%) to (0%,100%) stops (0%, #31baed) (100%, #0b64b5);
  -fx-selection-bar-text: ladder -fx-background stops (50%,-fx-light-text-color) (51%,-fx-mid-text-color);
  -fx-text-fill: -fx-text-background-color;
*/
  /* These are needed for Popup */
/*
  -fx-background-color: inherit;
  -fx-background-radius: inherit;
  -fx-background-insets: inherit;
  -fx-padding: inherit;
*/
}

/* Color for the Rectangle (specific to this application) that fills the Scene */
/*
.background {
  -fx-fill: linear (0%, 0%) to (0%, 100%) stops (0%, #000) (100%, #222);
}
*/

/*******************************************************************************
 *                                                                             *
 * CSS Styles for the Button control                                      *
 *                                                                             *
 ******************************************************************************/

/*******************************************************************************
 *                                                                             *
 * CSS Styles for the ToggleButton control                                     *
 *                                                                             *
 ******************************************************************************/

/*
    fill: BLACK;
    focusFill: DARKGRAY;
    borderFill: BLACK;
    textFill: WHITE;
    shadowFill: BLACK;
    fontSize: 14pt;

 */
 
.toggle-button {
    -fx-padding: 3 10 2 10;
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-text-fill: -fx-text-base-color;
    -fx-vpos: CENTER;
    -fx-graphic-vpos: CENTER;
}

/*

.toggle-button:hover {
    -fx-color: -fx-hover-base;
}

.toggle-button:armed {
    -fx-color: -fx-pressed-base;
}

*/

.toggle-button:focused {
    -fx-background-color: -fx-toggle-button-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.toggle-button:selected {
    -fx-text-fill: -fx-light-text-color;
    -fx-background-color:
        -fx-shadow-highlight-color,
        linear (0%,0%) to (0%,100%) stops (0%, derive(-fx-color,-90%)) (100%, derive(-fx-color,-60%)),
        linear (0%,0%) to (0%,100%) stops (0%, derive(-fx-color,-60%)) (50%, derive(-fx-color,-35%)) (98%, derive(-fx-color,-30%)) (100%, derive(-fx-color,-50%)),
        linear (0%,0%) to (100%,0%) stops (0%, rgba(0,0,0,0.3)) (10%, rgba(0,0,0,0)) (90%, rgba(0,0,0,0)) (100%, rgba(0,0,0,0.3));
    -fx-background-insets: 0 0 -1 0, 0, 1, 1;
}

.toggle-button:selected:focused {
    -fx-background-color:
        -fx-toggle-button-focus-color,
        linear (0%,0%) to (0%,100%) stops (0%, derive(-fx-color,-90%)) (100%, derive(-fx-color,-60%)),
        linear (0%,0%) to (0%,100%) stops (0%, derive(-fx-color,-60%)) (50%, derive(-fx-color,-35%)) (98%, derive(-fx-color,-30%)) (100%, derive(-fx-color,-50%)),
        linear (0%,0%) to (100%,0%) stops (0%, rgba(0,0,0,0.3)) (10%, rgba(0,0,0,0)) (90%, rgba(0,0,0,0)) (100%, rgba(0,0,0,0.3));
    -fx-background-insets: -1.4, 0, 1, 1;
}



.toggle-button:disabled {
    -fx-opacity: 0.9;
}



/*******************************************************************************
 *                                                                             *
 * CSS Styles for the RadioButton control                                      *
 *                                                                             *
 ******************************************************************************/

/*
.radio-button:disabled {
    -fx-opacity: .4
}

.radio-button *.label {
    -fx-padding: 0 0 0 15;
    -fx-text-fill: -fx-text-background-color;
}

.radio-button *.radio  {
    -fx-padding: 13.5 12 13.5 12;
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 42, 42, 36, 30;
    -fx-background-insets: 0 0 -3 0, 0, 3, 6;
}

.radio-button:focused *.radio {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 45, 42, 36, 30;
    -fx-background-insets: -4.2, 0, 3, 6;
}

.radio-button *.dot {
    -fx-background-radius: 30;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 9 9 9 9;
}

.radio-button:selected *.dot {
    -fx-background-radius: 30, 24;
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 -3 0, 0;
}
*/

/*******************************************************************************
 *                                                                             *
 * CSS Styles for the ScrollView control                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-view {
    -fx-padding: 1;
    -fx-background-color: -fx-box-border, black;
    -fx-background-insets: 0, 1;
    -fx-hbar-policy: never;
    -fx-vbar-policy: always;
}



